<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Blog: Listing Left Sidebar | Frexy Responsive HTML Template</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link type="text/css" rel='stylesheet' href="{% static 'css/bootstrap.css' %}">
    <link type="text/css" rel='stylesheet' href="{% static 'css/bootstrap-theme.css' %}">
    <link type="text/css" rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" data-themecolor="default" rel='stylesheet' href="{% static 'css/main-default.css' %}">
</head>
<body>
<div class="mask-l"
     style="background-color: #fff; width: 100%; height: 100%; position: fixed; top: 0; left:0; z-index: 9999999;"></div>
<!--removed by integration-->
<header>
    <div class="container b-header__box b-relative navbar-fixed-top">

        <div class="b-header-r b-right b-header-r--icon ">

            <div class="b-top-nav-show-slide f-top-nav-show-slide b-right j-top-nav-show-slide"></div>
            <nav class="b-top-nav f-top-nav b-right j-top-nav">
                <ul class="b-top-nav__1level_wrap">
                    <li class="b-top-nav__1level f-top-nav__1level is-active-top-nav__1level f-primary-b"><a href="#">
                        Home <span class="b-ico-dropdown"></span></a>

                    </li>

                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="#">Portfolio <span
                                class="b-ico-dropdown"></span></a>

                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="#">Blog <span class="b-ico-dropdown"></span></a>

                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big">
                        <a href="#">Pages<span
                                class="b-ico-dropdown"></span></a>

                    </li>

                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="#">Contact us<span
                                class="b-ico-dropdown"></span></a>
                    </li>

                </ul>

            </nav>
        </div>
    </div>
</header>
<div class="j-menu-container"></div>

<div class="b-inner-page-header f-inner-page-header b-bg-header-inner-page">
    <div class="b-inner-page-header__content">
        <div class="container">
            <h1 class="f-primary-l c-default">Blog Listing Left Sidebar</h1>
        </div>
    </div>
</div>
<div class="l-main-container">

    <div class="b-breadcrumbs f-breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><span>Listing Left Sidebar</span></li>
            </ul>
        </div>
    </div>

    <div class="l-inner-page-container">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div class="b-blog-listing__block">
                        <div class="b-blog-listing__block-top">
                            <div class="b-video-player view view-sixth">
                                <!--<img data-retina="" src="{% static 'img/blog/blog_listing.jpg' %}" alt="">-->

                            </div>
                        </div>
                        <div class="b-infoblock-with-icon b-blog-listing__infoblock">
                            <a href="#"
                               class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate hidden-xs">

                            </a>
                            <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                                <a href="#"
                                   class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-l b-title-b-hr f-title-b-hr">
                                    Mauris ac risus neque, ut pulvinar risus
                                </a>
                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text f-primary-b b-blog-listing__pretitle">
                                    By <a href="#" class="f-more">Stephen Brock</a> In <a href="#" class="f-more">Lifestyle</a>,
                                    <a href="#" class="f-more">Photography</a> Posted May 24th, 2013
                                    <a href="#" class="f-more b-blog-listing__additional-text f-primary">12 Comments</a>
                                </div>
                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text c-primary b-blog-listing__text">
                                    Pendisse blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum
                                    quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa
                                    sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien
                                    varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Blandit
                                    ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis.
                                </div>
                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                    <a href="#" class="f-more f-primary-b">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog-listing__block">
                        <div class="b-video-player b-blog-listing__block-top">
                            <!--<iframe src="http://player.vimeo.com/video/81801013?title=0&amp;byline=0&amp;portrait=0&amp;badge=0"
                                    width="870" height="460" frameborder="0" webkitallowfullscreen mozallowfullscreen
                                    allowfullscreen></iframe>-->
                        </div>
                        <div class="b-infoblock-with-icon b-blog-listing__infoblock">
                            <a href="#"
                               class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate hidden-xs">
                            </a>
                            <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                                <a href="#"
                                   class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-l b-title-b-hr f-title-b-hr">
                                    This Is Vimeo video post
                                </a>
                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text f-primary-b b-blog-listing__pretitle">
                                    By <a href="#" class="f-more">Stephen Brock</a> In <a href="#" class="f-more">Lifestyle</a>,
                                    <a href="#" class="f-more">Photography</a> Posted May 24th, 2013
                                    <a href="#" class="f-more b-blog-listing__additional-text f-primary">12 Comments</a>
                                </div>
                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text c-primary b-blog-listing__text">
                                    Pendisse blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum
                                    quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa
                                    sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien
                                    varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Blandit
                                    ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis.
                                </div>
                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                    <a href="#" class="f-more f-primary-b">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="b-pagination f-pagination">
                        <ul>
                            <li><a href="#">First</a></li>
                            <li><a class="prev" href="#"></a></li>
                            <li class="is-active-pagination"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a class="next" href="#"></a></li>
                            <li><a href="#">Last</a></li>
                        </ul>
                    </div>
                </div>
                <div class="visible-xs-block visible-sm-block b-hr"></div>
                <div class="col-md-3 col-md-pull-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="b-form-row b-input-search">
                                <input class="form-control" type="text" placeholder="Enter your keywords"/>
                                <span class="b-btn b-btn-search f-btn-search fa fa-search fa-2x"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row b-col-default-indent">
                        <div class="col-md-12">
                            <div class="b-categories-filter">
                                <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">blog
                                    categories</h4>
                                <ul>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"> Web
                                            Design</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">12</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"> Smart
                                            Phone</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">23</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#">
                                            Latop</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">12</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"> Apple
                                            Store</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">23</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#">
                                            Wordpress Theme</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">12</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"> Web
                                            Design</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">23</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#">
                                            Sport</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">12</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"> Fashion</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">23</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4 class="f-primary-b b-h4-special  f-h4-special--gray f-h4-special">popular postes</h4>

                            <div class="b-blog-short-post b-blog-short-post--img-hover-bordered b-blog-short-post--w-img f-blog-short-post--w-img row">
                                <div class="b-blog-short-post b-blog-short-post--img-hover-bordered b-blog-short-post--w-img f-blog-short-post--w-img row">
                                    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
                                        <div class="b-blog-short-post__item_img">
                                            <a href="#"><img data-retina
                                                             src="{% static 'img/gallery/sm/gallery_1.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="b-remaining">
                                            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                                <a href="#">Phasellus id mattis dolorunc et erat hendrerit,
                                                    tincidunt</a>
                                            </div>
                                            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                                10, January, 2014
                                            </div>
                                        </div>
                                    </div>
                                    <div class="copyrights">Collect from <a href="http://www.smallseashell.com/"
                                                                            title="网站模板">网站模板</a></div>
                                    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
                                        <div class="b-blog-short-post__item_img">
                                            <a href="#"><img data-retina
                                                             src="{% static 'img/gallery/sm/gallery_2.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="b-remaining">
                                            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                                <a href="#">Vel eleifend id ullamcorper eu velit</a>
                                            </div>
                                            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                                14, January, 2014
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
                                        <div class="b-blog-short-post__item_img">
                                            <a href="#"><img data-retina
                                                             src="{% static 'img/gallery/sm/gallery_2.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="b-remaining">
                                            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                                <a href="#">Lorem ipsum dolor sit amet purus vitae magna rhoncus</a>
                                            </div>
                                            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                                10, January, 2014
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
                                        <div class="b-blog-short-post__item_img">
                                            <a href="#"><img data-retina
                                                             src="{% static 'img/gallery/sm/gallery_3.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="b-remaining">
                                            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                                <a href="#">Fusce vitae dui sit amet lacus rutrum convallis</a>
                                            </div>
                                            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                                10, January, 2014
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b @@hidden">
                                        <div class="b-blog-short-post__item_img">
                                            <a href="#"><img data-retina
                                                             src="{% static 'img/gallery/sm/gallery_1.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="b-remaining">
                                            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                                <a href="#">Fusce vitae dui sit amet lacus rutrum convallis</a>
                                            </div>
                                            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                                10, January, 2014
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">tags cloud</h4>
                            <div>
                                <a class="f-tag b-tag" href="#">Dress</a>
                                <a class="f-tag b-tag" href="#">Mini</a>
                                <a class="f-tag b-tag" href="#">Skate animal</a>
                                <a class="f-tag b-tag" href="#">Lorem ipsum</a>
                                <a class="f-tag b-tag" href="#">literature</a>
                                <a class="f-tag b-tag" href="#">Baroque</a>
                                <a class="f-tag b-tag" href="#">Dress</a>
                                <a class="f-tag b-tag" href="#">Mini</a>
                                <a class="f-tag b-tag" href="#">Skate animal</a>
                                <a class="f-tag b-tag" href="#">Lorem ipsum</a>
                                <a class="f-tag b-tag" href="#">literature</a>
                                <a class="f-tag b-tag" href="#">Baroque</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<footer>
    <div class="b-footer-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12 f-copyright b-copyright">Copyright © 2014 - All Rights Reserved .More
                    Templates <a href="http://www.smallseashell.com/" target="_blank" title="贝壳模板">贝壳模板</a> - Collect
                    from <a href="http://www.smallseashell.com/" title="网页模板" target="_blank">网页模板</a></div>
                <div class="col-sm-8 col-xs-12">
                    <div class="b-btn f-btn b-btn-default b-right b-footer__btn_up f-footer__btn_up j-footer__btn_up">

                    </div>
                    <nav class="b-bottom-nav f-bottom-nav b-right hidden-xs">
                        <ul>
                            <li><a href="#">Homepage</a></li>
                            <li class="is-active-bottom-nav"><a href="#">Headers</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Shortcode</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'js/jquery/jquery-1.11.1.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/npm.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- end bootstrap -->


<!-- Modules -->
<script src="{% static 'js/modules/color-themes.js' %}"></script>
<!-- End Modules -->

<script src="{% static 'js/cookie.js' %}"></script>


</body>


</html>